<!DOCTYPE html>
<html>
<head>
  <title>G5Authenticatable</title>
  <%= stylesheet_link_tag    "g5_authenticatable/application", :media => "all" %>
  <%= javascript_include_tag "g5_authenticatable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
